* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 55px;
    background-color: #FFFAEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.one-head {
    margin-left: 26px;
    display: flex;
    gap: 42px;
}

.two-head {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #00C08B;
    text-align: center;
    justify-content: center;
}

.tre-head {
    margin-right: 26px;
    display: flex;
    gap: 42px;
}

.first-box {
    width: 1440px;
    height: 882px;
    display: flex;
    background-image: url(/IMG/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.first-box-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: -400px 25px 0 25px;
    color: #FFFAEF;
    color: #FFFAEF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: 0.4px;
}

a {
    font-size: 18px;
    text-decoration: none;
    user-select: none;
    color: #006450;
}

button {
    width: 201px;
    height: 58px;
    flex-shrink: 0;
    background: #E1FF32;
}

hr {
    background-color: #006450;
    width: 1390px;
    height: 2px;
}

.second-box {
    width: 1390px;
    height: 216px;
    flex-shrink: 0;
}

.second-box-cont {
    color: #006450;
    margin-top: 84px;
    margin-left: 404px;
    margin-right: 403px;
    color: #006450;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: 0.4px;
}

.one {
    background-image: url(/IMG/13.png);
    background-repeat: no-repeat;
    background-size: contain;
    background: center, lightgray 50% / cover no-repeat;

    width: 683px;
    height: 683px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}